<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSQRScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime assemblyVersion="v4.0" sku=".NETFramework,Version=v4.5" version="v4.0"/>
    </startup>
    <userSettings>
        <NSQRScan.Properties.Settings>
            <setting name="zebraCode" serializeAs="String">
                <value>^XA

^FO10,20
^ADN,36,20
^FDModel:^FS

^FO170,20
^ADN,30,20
^FD[MODEL]^FS

^FO58,60
^ADN,36,20
^FDS/N:^FS

^FO170,60
^ADN,30,20
^FD[SN]^FS

^FO60,100
^BQN,2,4
^FDMM,A#@[MODEL]@$[SN]$%[DATE]%#^FS

^FO200,110
^BXN,6,200
^FDO1970A1CS^FS

^XZ
</value>
            </setting>
        </NSQRScan.Properties.Settings>
    </userSettings>
</configuration>
